/backup
/bussiness
/companies
/coverletter_Pavan_Kushal_velagaleti.docx
/desktop.ini
/emaildb.sqlite
/Exhaust_NANO.sldprt
/filming
/GitHub Desktop.lnk
/GrabCAD Workbench.lnk
/gregmatlist32groups.pdf
/manifold-second-web.jpg
/MATLAB_PROJECT_19XJ1A0362.zip
/projects
/tube (medium) as.SLDLFP
/WhatsApp.lnk
/~$asura.docx
/~$Book.docx
/~$ING AND ETHICS(ETHICS PROJECT -PAVAN).docx
/~$METABLE_6TH_SEM.docx
/~$q4.docx
/~$SKF_NJ_202_ECP.sldasm
/~$SKF_NJ_202_ECP_17.sldprt
/~$SKF_NJ_202_ECP_19.sldprt
/~$SKF_NJ_202_ECP_3.sldprt
/~$timetable.xlsx
/~$xj1a0362_Thermal Conductivity of a Metal Rod-converted.docx
/~WRL1034.tmp